@import "../../variables";

.AboutPage {

  width: 100%;

  .Container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 100px;
    box-sizing: border-box;

    @media only screen and (max-width: 1000px) {
      max-width: 750px;
      padding: 20px 40px 20px 40px;
    }
  }

  .Intro {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    @media only screen and (max-width: 1000px) {
      display: block;
    }
  }

  .IntroText {
    @media only screen and (min-width: 1001px) {
      margin-left: 80px;
    }

    @media only screen and (max-width: 750px) {
      max-width: 400px;
    }
  }

  .IntroMain {
    font-size: 42px;
    font-weight: 500;

    .Highlight {
      color: $primary;
    }

    @media only screen and (max-width: 750px) {
      font-size: 22px;
    }
  }

  .IntroSub {
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;

    @media only screen and (max-width: 750px) {
      font-size: 18px;
      line-height: 25px;
    }
  }

  .IntroSubtext {
    color: #575656;
    font-size: 24px;

    margin-top: 30px;
    margin-bottom: 30px;

    @media only screen and (max-width: 750px) {
      margin-top: 30px;
      font-size: 14px;
    }
  }

  .MateiLarge {
    min-width: 45%;

    @media only screen and (max-width: 1000px) {
      display: none;
    }
  }

  .MateiSmall {
    max-width: 100%;
    max-height: 300px;

    @media only screen and (min-width: 1001px) {
      display: none;
    }
  }

  .Resume {
    display: flex;
    margin: 80px 0 40px 0;

    @media only screen and (max-width: 1000px) {
      display: block;
      margin: 40px 0 40px 0;
    }

    .Section {
      margin-bottom: 40px;

      &:first-of-type {
        flex-grow: 1;
        padding-left: 50px;

        @media only screen and (max-width: 1000px) {
          padding-left: 0;
        }
      }

      .Title {
        font-weight: 500;
        font-size: 28px;

        @media only screen and (max-width: 750px) {
          font-size: 24px;
        }
      }

      .Item {
        margin-bottom: 20px;
      }

      .Date {
        font-size: 18px;
        color: #575656;

        @media only screen and (max-width: 750px) {
          font-size: 14px;
        }
      }

      .Name {
        font-weight: 500;
        font-size: 20px;

        @media only screen and (max-width: 750px) {
          font-size: 18px;
        }
      }

      .Description {
        font-size: 18px;
        color: #575656;

        @media only screen and (max-width: 750px) {
          font-size: 14px;
        }
      }
    }
  }
}